@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: wheat;
    display: grid;
    align-self: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title title title title"
        "info info info info info"
        ". . board . .";
}

h1 {
    text-align: center;
    grid-area: title;
    font-family: 'Indie Flower', cursive;
}
h2 {
    justify-self: center;
    font-family: 'Indie Flower', cursive;
}

.boxes {
    font-family: 'Indie Flower', cursive;
}

.top-info {
    display: grid;
    margin: 10px;
    grid-area: info;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        'player-one messages player-two'
        'player-one reset player-two';
}

#player-one {
    padding: 10px;
    background-color: wheat;
    grid-area: player-one;
    justify-self: center;
    border-radius: 25px;
}

.messages {
    display: grid;
    padding: 10px;
    grid-area: messages;
    justify-self: center;
}

#player-two {
    padding: 10px;
    grid-area: player-two;
    justify-self: center;
    border-radius: 25px;
}

#reset-game {
    font-size: 16px;
    width: 100px;
    grid-area: reset;
    justify-self: center;
}

.game-board {
    display: grid;
    grid-area: board;
    background-color: black;
    justify-self: center;
    margin-top: 50px;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    font-size: 64px;
    grid-gap: 10px;

}

.boxes {
    background-color: wheat;
    text-align: center;
}