body {
    background-color: wheat;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title title title title"
        "info info info info info"
        ". . board board .";
}

h1 {
    text-align: center;
    grid-area: title;

}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    grid-area: info;
}

#player-one {
    padding: 10px;
}

.messages {
    padding: 10px;
}

#player-two {
    padding: 10px;
}

.game-board {
    display: grid;
    grid-area: board;
    background-color: black;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    font-size: 64px;
    grid-gap: 10px;

}

.boxes {
    background-color: wheat;
    text-align: center;
}